ol li {
    background-color: yellow;
}

ol li:nth-of-type(even) {
    color: green;
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

h1, h2 {
    color: red;
}

h1 em, h2 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: 600;
}

#linguagens li:not(:nth-child(n + 4)) {
    color: blue;
}

.pink-bg {
    background-color: pink;
}

ul.link li {
    font-weight: 600;
}

ul.link li:hover:nth-of-type(1){
    background-color: orange;
}
ul.link li:hover:nth-of-type(2){
    background-color: green;
}
ul.link li:hover:nth-of-type(3){
    background-color: black;
}
ul.link li:hover:nth-of-type(4){
    background-color: yellow;
}
ul.link li:hover:nth-of-type(5){
    background-color: green;
}

